{% extends "base.html" %}

{% block content %}
<h1>Dogs by AKC Agility Points</h1>
<a href="/create-dog" class="btn btn-primary mb-3">Add New Dog</a>

{% if items %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Show Name</th>
			<th>Points</th>
			<th>Owner's Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for item in items %}
		<tr class="clickable" onclick="window.location.href='/runs/{{item.show_name}}'">
			<td>{{ item.id }}</td>
			<td>{{ item.name }}</td>
			<td>{{ item.show_name}}</td>
			<td>{{ item.points}}</td>
			<td>{{ item.owner}}</td>
			<td onclick="event.stopPropagation()">
				{% if current_user.id == item.created_by or current_user.is_admin %}
				<a href="/update-dog/{{ item.id }}" class="btn btn-warning btn-sm">Update</a>
				<a href="/delete-dog/{{ item.id }}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this dog?')">Delete</a>
				{% else %}
				<button class="btn btn-warning btn-sm" onclick="return handleUnauthorizedAction('update', 'dog')">Update</button>
				<button class="btn btn-danger btn-sm" onclick="return handleUnauthorizedAction('delete', 'dog')">Delete</button>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>No items found. Please <a href="/create-dog">create a new item</a>.</p>
{% endif %}
{% endblock %}
